* {
   background-color: gold;
   font-family:"Lucida Console", "Courier New", monospace;
   text-align:center 
}
h1,h2{
   color:blue;
}
img{
   width:200px;
   height:200px;
}
li{
   width:fit-content;
   block-size:fit-content;
}
ul{
   align-iteams: center;
   text-align:center;
}
